body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

p {
  color: #FFF;
}

.main {
  display: flex;
  flex-direction: row;
}

.game {
  display: flex;
  flex-direction: column;
}

.btns {
  border: 1px solid #202020;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.field {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-color: black;
  color: #f3daf7;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.field>div {
  border: 1px solid #202020;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field>div:hover {
  border: 1px solid #404040;
}

.btn {
  border: 1px solid #202020;
  background-color: black;
  color: #f3daf7;
  padding: 10px 20px;
  outline: none;
}

.btn:hover {
  border: 1px solid #404040;
}

.field > div.winner {
  background: #202020;
}

@media (min-width: 300px) {
  .field {
    width: 300px;
    height: 300px;
    border: 1px solid #202020;
  }
}

@media (min-width: 1024px) {
  .btn {
    cursor: pointer;
  }
}

.stats {
  padding-left: 5px;
}

.stats > p {
  margin: 0;
  padding: 0;
}

.cell {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; 
  cursor: default;
}