{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}

{% block content %}
<body>
        <div class="main">
            <div class="game">
                <div class='field' id="game"></div>
                <div class="btns">
                    {% if friend_url %}
                    <button class="btn" id="friend_url" title="copy friend link">Friend link</button>
                    {% endif %}
                    <button class="btn" id="restart" title="Restart this game">Restart</button>
                    <button class="btn" id="lobby" title="go back">Lobby</button>
                </div>
            </div>
            <div class="stats" id="stats">
                <p>Stats:</p>
            </div>
        </div>

    <script>
        let websocket_url = 'ws://' + document.location.host + '{{ ws_url }}';
        console.log(websocket_url);
        let host = location.protocol + '//' + document.location.host;
        let friend_url = host + '{{ friend_url }}';
    </script>
    <script src="{% static 'js/game.js' %}"></script>
    
</body>
{% endblock %}