{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body>
        <div class="main">
            <div class="game">
                <div class='field' id="game"></div>
                <div class="btns">
                    <button class="btn" id="friend_link" title="copy friend link">Friend link</button>
                    <button class="btn" id="restart" title="Restart this game">Restart</button>
                    <button class="btn" id="lobby" title="go back">Lobby</button>
                </div>
            </div>
            <div class="stats" id="stats">
                <p>Stats:</p>
            </div>
        </div>

    <script src="{% static 'js/game.js' %}"></script>
    <script>
        let host = location.protocol + '//' + location.hostname + ':' + window.location.port;
        let friend_link = host + '{{ friend_link }}';
    </script>
    
</body>
</html>