{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}">
{% endblock %}

{% block content %}
<body>
    <div class="menu">
        <h1>Tic tac toe</h1>
        <div class="element">
            <h3>create game and play with a friend</h3>
            <div class="btns">
                <a href="{% url 'game_create' 'X' %}">as X</a>
                <a href="{% url 'game_create' 'O' %}">as O</a>
            </div>
        </div>
        <div class="element">
            <h3 id="search_label">search for game</h3>
            <div class="btns">
                <a href="#" id="search_x">as X</a>
                <a href="#" id="search_o">as O</a>
            </div>
        </div>
        <div class="element">
            <h3>game with ai</h3>
            <div class="btns">
                <a href="{% url 'ai_game' 'X' %}">as X</a>
                <a href="{% url 'ai_game' 'O' %}">as O</a>
            </div>
        </div>
        <div class="element">
            <h3>play now: <span id="players_now">0</span></h3>
            <h3>search as X: <span id="players_Xsearch">0</span></h3>
            <h3>search as O: <span id="players_Osearch">0</span></h3>
        </div>
    </div>
</body>
<script>
    let searchX_ws_url = 'ws://' + document.location.host + '{{ searchX_ws_url }}';
    let searchO_ws_url = 'ws://' + document.location.host + '{{ searchO_ws_url }}';
    
    let statistic_url = document.location.origin + "{% url 'statistic' %}";
</script>
<script src="{% static 'js/lobby.js' %}"></script>
{% endblock %}